@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-text {
    @apply bg-clip-text 
			text-transparent 
			bg-gradient-to-tl 
			from-[#e886b9] 
			to-[#337fff];
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
}

svg {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

#optim-email-input:focus {
  border-image-slice: 1;
  border-image-source: linear-gradient(105deg, #2a72eb 33%, #e1bdf1 87%);
}

#optim-nav-checkbox:checked ~ .optim-nav-overlay {
  display: block;
}

#optim-nav-checkbox:checked ~ .optim-nav {
  transform: translateX(0%);
}
